/* =RESETS */
body, ul, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, img, blockquote, form, fieldset {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
}

/* Common styles -------------- */
header, footer, article, section {
	display: block;
}
html, body {
	height: 100%;
}
body {
	background: #1e1e1e url(../images/blacklinen.png) repeat;
	/*background: url(../images/grid.png) repeat-y top;*/
	color: rgba(255, 255, 255, .7);
}
header {
	margin-bottom: 10px;
	border-bottom: 2px solid rgba(255, 255, 255, .5);
	padding-top: 15px;
	padding-bottom: 15px;
}

footer {
	margin: -70px auto 0;
	border-top: 2px solid rgba(255, 255, 255, .5);
	padding-top: 15px;
	width: 980px;
	height: 45px;
	color: #d7d4c7;
}
	footer p {
		padding-bottom: 0;
	}
code {
	color: #CDA869;
	font-family: Monaco, Courier, monospace;
	font-size: 12px;
	line-height: 19px;
}
iframe {
	margin: 10px 0;
}
h1, h2, h3 {
	padding-bottom: 10px;
	color: #f8ecc2;
	font-family: adelle, serif;
}
a {
	color: rgba(255, 255, 255, 1);
}
p {
	padding-bottom: 10px;
	line-height: 20px;
}
ol {
	list-style: decimal;
	list-style-position: inside;
}
li:not(:last-of-type) {
	padding-bottom: 12px;
}
	li p {
		padding-bottom: 0;
	}
		li ul {
			margin-top: 10px;
			margin-left: 10px;
		}
ol[id^=Lighter] {
	list-style-position: outside;
}
blockquote {
	margin-left: 50px;
	font-style: italic;
	color: rgba(255, 255, 255, .5);
}

/* Typography -------------- */
body {
	font-size: 62.5%;
	line-height: 18px;
	font-family: cambria, georgia, serif;
}
header {
	font-size: 2em;
}
	header span {
		font-size: .7em;
	}
h1, h2, h3 {
	font-weight: normal;
}
h1 {
	font-size: 2.5em;
	line-height: 32px;
}
h2 {
	font-size: 2em;
	line-height: 27px;
}
h3 {
	font-size: 1.5em;
	line-height: 22px;
}
p, li {
	font-size: 1.6em;
}
li li, li p {
	font-size: 1em;
}
a:hover {
	text-decoration: none;
}
pre {
	font-size: 1.3em;
}
code {
	/*color: rgba(255, 255, 255, .5);*/
}

/* Structure -------------- */
#container {
	min-height: 100%;
	margin: 0 auto;
	padding: 0 10px;
	width: 950px;
}
	#container::after {
		content: '';
		display: block;
		padding-bottom: 70px;
	}

/* Navigation -------------- */
.navigation {
	margin-bottom: 15px;
	border-bottom: 2px solid rgba(255, 255, 255, .5);
	padding-bottom: 10px;
}
	.navigation li {
		display: inline-block;
		vertical-align: top;
		margin-right: 5px;
		padding: 3px 5px;
	}

/* Classes -------------- */
/* List in post */
.post ul {
	list-style: disc;
	list-style-position: inside;
	padding-left: 20px;
}
	.post li:after {
		content: '';
		display: table;
		clear: both;
	}
		.post li img {
			float: left;
			margin-right: 10px;
			margin-bottom: 10px;
		}
		.post h2 ~ h2 {
			padding-top: 10px;
		}

/* Posts list */
.posts {
	counter-reset: list;
}
	.posts li {
		list-style: none;
		position: relative;
		padding-left: 30px;
	}
	.posts li::before {
		position: absolute;
		top: 50%;
		margin-top: -15px;
		margin-left: -30px;
		content: counter(list);
		counter-increment: list;
		font-size: 1.8em;
		line-height: 20px;
		font-family: adelle, serif;
	}
	.posts li span {
		font-size: .813em;
		opacity: .7;
	}
	.posts li span::before {
		opacity: .7;
		content: " | ";
	}

/* Portfolio */
.portfolio li {
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
	margin-bottom: 10px;
	padding-bottom: 0;
	list-style: none;
	width: 230px;
	height: 170px;
	overflow: hidden;
	position: relative;
}
	/* select every nth item */
	.portfolio li:nth-of-type(4n) {
		margin-right: 0;
	}
	.portfolio li img {
		-webkit-transition: all 0.2s linear;
		-webkit-transform: translateZ(0);
	}
	.portfolio li h2 {
		position: absolute;
		top: 0%;
		height: 170px;
		width: 100%;
		padding: 0;
		font-weight: bold;
		font-size: 1.6em;
		line-height: 170px;
		text-align: center;
		-webkit-transition: all 0.2s linear 0.3s;
		-webkit-transform: scale(5);
		opacity: 0;
	}
		.portfolio li h2 a {
			display: block;
		}
	.portfolio li:hover img {
		opacity: .4;
	}
	.portfolio li:hover h2 {
		-webkit-transform: scale(1);
		opacity: 1;
	}

/* Smartphones (portrait) ----------- */
/*@media only screen and (max-width : 320px) {
	body {
		color: red;
	}
}*/

/* 1024 Screen */
/*@media only screen and (min-width: 1024px) {
	#container, footer {
		width: 980px;
	}
}*/

/* iPads (portrait) ----------- */
/*@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	#container, footer {
		width: 745px;
	}
}*/

/* iPads (landscape) ----------- */
/*@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	#container, footer {
		width: 768px;
		margin: 0;
	}
}*/

/*
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	#container, footer {
		
	}
	footer {
		margin-top: 25px;
		padding-bottom: 10px;
	}
}*/