/* =RESETS */
body, ul, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, img, blockquote, form, fieldset {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
}

/* Common styles -------------- */
header, footer, article, section {
	display: block;
}
body {
	background-color: #333;
	color: rgba(255, 255, 255, 1);
}
header {
	margin-bottom: 10px;
	border-bottom: 2px solid rgba(255, 255, 255, .5);
	padding-bottom: 15px;
}
footer {
	margin-top: 10px;
	border-top: 2px solid rgba(255, 255, 255, .5);
	padding-top: 15px;
	color: #d7d4c7;
}
h1, h2, h3 {
	padding-bottom: 10px;
	color: #f8ecc2;
}
a {
	color: rgba(255, 255, 255, 1);
}
p {
	padding-bottom: 10px;
}
ol {
	list-style: decimal;
	list-style-position: inside;
}
li {
	padding-bottom: 12px;
}
	li p {
		padding-bottom: 0;
	}
ol[id^=Lighter] {
	list-style-position: outside;
}
blockquote {
	margin-left: 50px;
	font-style: italic;
	color: rgba(255, 255, 255, .5);
}

/* Typography -------------- */
body {
	font-size: 62.5%;
	line-height: 18px;
	font-family: cambria, georgia, serif;
}
header {
	font-size: 2em;
}
	header span {
		font-size: .7em;
	}
h1, h2, h3 {
	font-weight: normal;
}
h1 {
	font-size: 2.5em;
	line-height: 32px;
}
h2 {
	font-size: 2em;
	line-height: 27px;
}
h3 {
	font-size: 1.5em;
	line-height: 22px;
}
p, li {
	font-size: 1.4em;
}
	li p {
		font-size: 1em;
	}
a:hover {
	text-decoration: none;
}
pre {
	font-size: 1.3em;
}
code {
	color: rgba(255, 255, 255, .5);
}

/* Structure -------------- */
#container {
	width: 60%;
	margin: 0 auto;
	padding-top: 15px;
}

/* Classes -------------- */
/* List in post */
.post ul {
	list-style: disc;
	list-style-position: inside;
	padding-left: 20px:
}
	.post li:after {
		content: ".";
		visibility: hidden;
		height: 0;
		display: block;
		clear: both;
	}
		.post li img {
			float: left;
			margin-right: 10px;
			margin-bottom: 10px;
		}

/* Posts list */
.posts li span {
	opacity: .7;
}
.posts li span::before {
	opacity: .7;
	content: " | ";
}


@media only screen and (min-width: 600px) {
	
}

@media only screen and (min-width: 1000px) {
	
}

