/*

---

name: Main

description: Base styles for elements

provides: CSS.Main

...

*/
body {
  font-size: 16px;
  line-height: 18px;
  font-family: cambria, georgia, serif;
}
/* =RESETS */
body,
ul,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
img,
blockquote,
form,
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
}
html,
body {
  height: 100%;
}
body {
  background: #1e1e1e url("../images/blacklinen.png") repeat;
  color: rgba(255,255,255,0.70);
}
section {
  margin-bottom: 20px;
}
header {
  margin-bottom: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}
header > a + span {
  font-size: 12px;
}
footer {
  margin: -70px auto 0;
  border-top: 2px solid rgba(255,255,255,0.50);
  padding: 15px 10px 0;
  height: 45px;
  color: #d7d4c7;
}
footer p {
  padding-bottom: 0;
}
code {
  color: #cda869;
  font-family: Monaco, Courier, monospace;
  font-size: 12px;
  line-height: 18px;
}
iframe {
  margin: 10px 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding-bottom: 10px;
  color: #f8ecc2;
  font-family: adelle, serif;
}
a {
  color: #fff;
}
*:focus {
  outline: 2px solid rgba(0,128,0,0.50);
}
p {
  padding-bottom: 10px;
  line-height: 20px;
}
ul,
ol {
  padding-bottom: 10px;
}
ul li {
  list-style: disc;
  list-style-position: inside;
}
ol li {
  list-style: decimal;
  list-style-position: inside;
}
li:not(:last-of-type) {
  padding-bottom: 12px;
}
li p {
  padding-bottom: 0;
}
li ul {
  margin-top: 10px;
  margin-left: 10px;
}
ol[id^=Lighter] {
  list-style-position: outside;
}
blockquote {
  margin-left: 50px;
  font-style: italic;
  color: rgba(255,255,255,0.50);
}
img {
  max-width: 100%;
}
.navigation {
  float: right;
}
.navigation ul {
  float: left;
}
.navigation ul li {
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
  padding: 3px 5px;
}
/* List in post */
.post ul,
.post ol {
  list-style: disc;
  list-style-position: inside;
  padding-left: 20px;
}
.post ul li::after,
.post ol li::after {
  content: '';
  display: table;
  clear: both;
}
.post ul li img,
.post ol li img {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
.post h2 ~ h2 {
  padding-top: 10px;
}
/* Posts list */
.posts {
  counter-reset: list;
}
.posts li {
  list-style: none;
  position: relative;
  padding-left: 30px;
}
.posts li::before {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  margin-left: -30px;
  content: counter(list);
  counter-increment: list;
  font-size: 1.8em;
  line-height: 20px;
  font-family: adelle, serif;
}
.posts li span {
  font-size: 0.813em;
  opacity: 0.7;
}
.posts li .date::before {
  opacity: 0.7;
  content: " | ";
}
.posts li h2 {
  font-size: 18px;
  line-height: 22px;
}
.posts li h2,
.posts li h3 {
  padding-bottom: 0;
}
.tag {
  display: inline-block;
  margin-left: 5px;
  padding: 2px;
  border-radius: 5px;
  font-size: 11px;
  line-height: 12px;
  text-decoration: none;
  color: #333;
  background-color: #f8ecc2;
}
/* Portfolio */
.portfolio li {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-bottom: 0;
  list-style: none;
  width: 230px;
  height: 170px;
  overflow: hidden;
  position: relative;
}
.portfolio li img {
  -webkit-transition: all 0.2s linear 0.3s;
  -webkit-transform: translateZ(0);
}
.portfolio li h2 {
  position: absolute;
  top: 0%;
  height: 170px;
  width: 100%;
  padding: 0;
  font-weight: bold;
  font-size: 1.6em;
  line-height: 170px;
  text-align: center;
  -webkit-transition: all 0.2s linear 0.3s;
  -webkit-transform: scale(5);
  opacity: 0;
}
.portfolio li h2 a {
  display: block;
}
.portfolio li:hover h2 {
  -webkit-transform: scale(1);
  opacity: 1;
}
.portfolio li:hover img {
  opacity: 0.4;
}
