/*

---

name: Layout

description: Outer and internal structure

requires: CSS.Main

provides: CSS.Layout

...

*/

@import "variables"

// STRUCTURE
#container
	min-height 100%
	margin 0 auto
	padding 0 10px
	&::after
		content ''
		display block
		padding-bottom 70px

// LARGE DESKTOP & UP
@media (min-width: 1200px) {
	body {
		
	}
}

// UP TO LANDSCAPE PHONE
@media (max-width: 480px) {

}

// LANDSCAPE PHONE TO SMALL DESKTOP & PORTRAIT TABLET
@media (max-width: 767px) {
	body {
		
	}
}

// PORTRAIT TABLET TO DEFAULT DESKTOP
@media (min-width: 768px) and (max-width: 979px) {

}

/*
// MEDIA QUERIES
//Smartphones (portrait)
@media only screen and (min-device-width: 320px) and (max-device-width: 480px)
	body
		color red

//iPads (portrait)
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	#container, footer {
		width: 745px;
	}
}

// iPads (landscape)
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	#container, footer {
		width: 768px;
		margin: 0;
	}
}

// DESKTOP [320 - 480]
@media only screen and (min-width: 320px) and (max-width: 480px)
	footer
		margin-top 25px
		padding-bottom 10px
	
	.navigation li
		display block
		margin-right 0

	.portfolio li
		display block
		margin 0 auto 10px
		text-align center

// DESKTOP [MIN 1024]
@media only screen and (min-width: 1024px)
	#container
		width 950px
	
	footer
		width 950px
	
	.navigation li:first-child
		padding-left 0

	//select every nth item
	.portfolio li:nth-of-type(4n)
		margin-right 0
*/