/*

---

name: Layout

description: Outer and internal structure

requires: CSS.Main

provides: CSS.Layout

...

*/

@import "variables"
@import "mixins"

// STRUCTURE
#container
	max-width 94%
	margin 0 auto
	padding 0 0 (baselineGrid * 5)

.content
	padding-bottom (baselineGrid * 5)

// MOBILES
@media only screen and (max-width: 320px)
	.navigation
		float none
		ul
			float none
			li
				display block
				a
					display block
					padding-left 0
				> *
					padding (baselineGrid * 2) 0

	.portfolio li
		float none
		margin-right 0
		width 100%

// ADJUST BOX SHADOW
@media only screen and (max-width: 719px)
	.navigation ul 
		box-shadow 0 10px 30px -12px colour6

// ADJUST SITE WIDTH, NAVIGATION WIDTH & PORTFOLIO STYLES (NO FLEXBOX)
@media only screen and (min-width: 829px)
	// STRUCTURE
	#container
		max-width 80%

	.navigation ul
		width 80%

	.no-flexbox .portfolio li
		width 47%
		&:nth-child(2n)
			margin-right 0

// ADJUST PORTFOLIO (NO FLEXBOX)
@media only screen and (min-width: 950px)
	.no-flexbox .portfolio li
		width 32%
		&:nth-child(2n)
			margin-right (baselineGrid * 3) + .2
		&:nth-child(3n)
			margin-right 0	

// ADJUST NAVIGATION
@media only screen and (min-width: 720px)
	.navigation ul li a small, .navigation ul li span small
		display block

@media only screen and (min-width: 1199px)
	// body
	// 	color red
	#container
		max-width 1024px

	.navigation ul
		width 1024px
