/*

---

name: Main

description: Base styles for elements

provides: CSS.Main

...

*/


@import "variables"

body
	font-size defaultFontSize
	line-height defaultLineHeight
	font-family defaultFontFamily

*
	-moz-box-sizing border-box
	-webkit-box-sizing border-box
	box-sizing border-box


/* =RESETS */
body, ul, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, img, blockquote, form, fieldset
	margin 0
	padding 0
	border 0
	list-style none

html, body
	height 100%

body
	background #1e1e1e url(../images/blacklinen.png) repeat
	//background: url(../images/grid.png) repeat-y top;
	color rgba(255, 255, 255, .7)

section
	margin-bottom (baselineGrid * 5)

header
	margin-bottom (baselineGrid * 3)
	padding-top (baselineGrid * 4)
	padding-bottom (baselineGrid * 3)
	> a + span
		font-size defaultFontSize - 2

// Sticky footer
footer
	margin 0 auto
	border-top 2px solid rgba(255, 255, 255, .5)
	padding 15px 0 0
	p
		padding-bottom 0

footer > div 
	display inline-block
	vertical-align top
	margin-right 2.1276595745% 
	margin-bottom (baselineGrid * 3)
	width 31.914893617%	
	&:last-of-type
		margin-right 0

code
	color #CDA869
	font-family Monaco, Courier, monospace
	font-size defaultFontSize - 4
	line-height defaultLineHeight

iframe
	margin 10px 0

h1, h2, h3, h4, h5, h6
	padding-bottom 10px
	color #f8ecc2
	font-family adelle, sans-serif

a
	color rgba(255, 255, 255, 1)
	
*:focus
	outline 2px solid rgba(0,128,0,.5)

p
	padding-bottom (baselineGrid * 3)
	//line-height (baselineGrid * 5)

p:last-of-type
	padding-bottom 0

ul, ol
	padding-bottom (baselineGrid * 3)
	
ul li
	list-style disc
	list-style-position inside
	
ol li
	list-style decimal
	list-style-position inside

li:not(:last-of-type)
	padding-bottom (baselineGrid * 3)

li p
	padding-bottom 0

li ul
	margin-top 10px
	margin-left 10px

ol[id^=Lighter]
	list-style-position outside

blockquote
	margin-bottom (baselineGrid * 3)
	margin-left 50px
	font-style italic
	color rgba(255, 255, 255, .5)

img
	max-width 100%

// NAVIGATION
.navigation
	float right;
	ul
		float left
		li
			display inline-block
			vertical-align top
			margin-right 5px
			padding 3px 5px

// CLASSES
/* List in post */
.post h1 ~ .tag
	margin-left 0
	margin-right baselineGrid	

.post ul, .post ol
	list-style disc
	list-style-position inside
	padding-left 20px
	li::after
		content ''
		display table
		clear both
	li img
		float left
		margin-right 10px
		margin-bottom (baselineGrid * 3)

.post h2 ~ h2
	padding-top (baselineGrid * 3)

/* Posts list */
.posts
	counter-reset list
	li
		list-style none
		position relative
		padding-left 30px
	li::before
		position absolute
		top 50%
		margin-top -20px
		margin-left -30px
		content counter(list)
		counter-increment list
		font-size 1.8em
		line-height (baselineGrid * 5)
		font-family adelle, serif
	li span
		font-size .813em
		opacity .7
	li .date::before
		opacity .7
		content " | "
	li h2
		font-size 18px
		line-height 22px
	li h2, li h3
		padding-bottom 0

.tag
	display inline-block
	margin-left 5px
	padding: 2px
	font-size 11px
	line-height 12px
	text-decoration none

/* Portfolio */
.portfolio
	padding-top: (baselineGrid * 3)
.portfolio li
	display inline-block
	vertical-align top
	margin-right 2.1276595745% 		// 20 / 940 * 100
	margin-bottom 2.1276595745% 	// 20 / 940 * 100
	padding-bottom 0
	list-style none
	width 31.914893617%				// 300 / 940 * 100
	overflow hidden
	position relative
	img
		display block
		-webkit-transition opacity 0.2s linear 0.3s
		-webkit-transform translateZ(0)
		max-width 100%				// 300 / 940 * 100
	h2
		position absolute
		top 0
		width 100%
		padding 0
		font-weight bold
		font-size 1.6em
		line-height 169px
		text-align center
		-webkit-transition all 0.2s linear 0.3s
		-webkit-transform scale(5)
		opacity 0
	&:nth-child(3n)
		margin-right 0
	&:hover h2
		-webkit-transform scale(1)
		opacity 1
	&:hover img
		opacity .4


// Footer tags
footer .tags a
	padding-top 0
	font-size 1em
	margin-right 5px
	margin-left 0
	text-decoration underline
	&:hover
		text-decoration none


.tags + a
	text-decoration none



// TWITTER WIDGET
.twtr-hd, .twtr-ft
	display none

.twtr-timeline
	height auto!important

footer
	
	.twtr-widget
		font-size (defaultFontSize - 2)!important
		font-family defaultFontFamily!important

	#twtr-widget-1 .twtr-doc, 
	#twtr-widget-1 .twtr-hd a, 
	#twtr-widget-1 h3, #twtr-widget-1 h4
		background-color transparent!important

	#twtr-widget-1 .twtr-new-results, 
	#twtr-widget-1 .twtr-results-inner, 
	#twtr-widget-1 .twtr-timeline
		background-color transparent!important

	.twtr-widget .twtr-tweet-wrap
		padding-right 0
		padding-left 0

	.twtr-widget #tweet-id-3> div
		padding-top 0

	#twtr-widget-1 .twtr-bd, #twtr-widget-1 .twtr-timeline i a, #twtr-widget-1 .twtr-bd p
		color rgba(255, 255, 255, .7)!important

	#twtr-widget-1 .twtr-tweet a, .twtr-doc a
		color #fff!important
		text-decoration underline!important

	.twtr-widget em, .twtr-widget .twtr-new-results
		font-size (defaultFontSize - 3)!important