/*

---

name: Slideshow

description: Provides slideshow functionality

requires: CSS.Main

provides: CSS.Slideshow

...

*/

.slideshow
	position relative
	margin 0 auto 15px
	width 750px
	height 422px
	overflow hidden
	ul
		padding-bottom 0;
		li
			list-style none
			padding-bottom 0
	.items li
		position absolute
		right 0
		left 0
		width 750px
		height 422px
		img
			display block
	.thumbs
		position absolute
		bottom 0
		z-index 2
		width 100%
		text-align center
		li
			display inline-block
			vertical-align top
			border-radius 10px
			margin-right 5px
			width 12px
			height 12px
			text-indent -9999px
			background-color #eee
			cursor pointer
			&.selected
				background-color #999
	.controls
		position absolute
		top 201px
		width 100%
		z-index 5
		li
			display block
			width 20px
			height 20px
			text-indent -9999px
			cursor pointer
			background-color red
			&:hover
				opacity 0.5
			&.previous
				float left
			&.next
				float right