/* TextMate Twilight inspired theme. */

.highlight
	border-radius 5px
	background-color rgba(20, 20, 20, .5)
	box-shadow inset 2px 2px 4px rgba(0, 0, 0, .2)
	pre
		margin 0 0 15px
		padding 10px
		color #f8f8f8
		white-space pre-wrap
		word-wrap break-word
	code
		font-family Monaco, Courier, monospace
		font-size 12px
		line-height 19px
		color rgba(255, 255, 255, 1)
	.nt, .ni
		color #cda869
	.na
		color #f9ee98
	.s
		color #6f87a8
	.k, .n
		color #cda869
	.m
		color #cf6745
	.kd
		color #f9ee98
	.s1
		color #8f9657
	.mi
		color #cf6745
	.c
		color #666