// GRID
baselineGrid 		=	.4rem;


// TYPE
fontReset			=	62.5%;
defaultFontSize 	=	1.6rem;
defaultLineHeight 	=	(20/16);
defaultFontFamily 	=	arial, sans-serif;
altFontFamily1 		=	'Gentium Book Basic', serif;
altFontFamily2 		=	'Ubuntu', sans-serif;
altFontFamily3 		=	'Lobster', cursive;

// SPACING
verticalSpacing 	=	.5em;
horizontalSpacing 	=	.5em;

// COLOUR PALETT - http://www.colourlovers.com/palette/378298/Captain_America
colour1				=	#cbe9fc;	// lightblue
colour2				=	#fff;		// white
colour3				=	#6e96bb;	// blue
colour4				=	#cc1414;	// red
colour5				=	#256697;	// dark blue
colour6				=	#333;		// dark grey


// SLIDESHOW
slideshowWidth 		=	750px;
slideshowHeight 	=	422px;
slideshowControls 	=	40px;