// GRID
baselineGrid = 4px;


// TYPE
defaultFontSize = 14px;
defaultLineHeight = 18px;
defaultFontFamily = arial, sans-serif;


// SLIDESHOW
slideshowWidth = 750px;
slideshowHeight = 422px;
slideshowControls = 40px;