<nav class=navigation>
	<ul>
		<li {% if page.nav == 'index' %} class=selected> <span>Home</span> {% else %}> <a href="/index.html">Home</a> {% endif %}</li>
		<li {% if page.nav == 'portfolio' %} class=selected> <span>Portfolio</span> {% else %}> <a href="/portfolio.html">Portfolio</a> {% endif %}</li>
		<li {% if page.nav == 'labs' %} class=selected> <span>Labs</span> {% else %}> <a href="/labs.html">Labs</a> {% endif %}</li>
		<li {% if page.nav == 'posts' %} class=selected> <span>Posts</span> {% else %}> <a href="/posts.html">Posts</a> {% endif %}</li>
		<li {% if page.nav == 'contact' %} class=selected> <span>Contact</span> {% else %}> <a href="/contact.html">Contact</a> {% endif %}</li>
	</ul>
</nav>