<div class="slideshow">
    <ul class="items">
        <li><a href="http://google.co.uk"><img src="http://placehold.it/750x422&text=1" alt="" /></a></li>
        <li><a href="http://yahoo.com"><img src="http://placehold.it/750x422/ffffff/000000&text=2" alt="" /></a></li>
        <li><a href="http://bbc.co.uk"><img src="http://placehold.it/750x422/ff00ff/000000&text=3" alt="" /></a></li>
        <li><a href="http://mootools.net"><img src="http://placehold.it/750x422/FF8C00/ffffff&text=4" alt="" /></a></li>
        <li><a href="http://github.com"><img src="http://placehold.it/750x422/0000ff/ffffff&text=5" alt="" /></a></li>
    </ul>
    <ul class="thumbs">
        <li class="selected" data-preview="http://placehold.it/750x422&text=1" tabindex="0">1</li>
        <li data-preview="http://placehold.it/750x422/ffffff/000000&text=2" tabindex="0">2</li>
        <li data-preview="http://placehold.it/750x422/ff00ff/000000&text=3" tabindex="0">3</li>
        <li data-preview="http://placehold.it/750x422/f5f5f5/333333&text=4" tabindex="0">4</li>
        <li data-preview="http://placehold.it/750x422&text=5" tabindex="0">5</li>
    </ul>
    <ul class="controls">
        <li class="previous" tabindex="0">previous</li>
        <li class="next" tabindex="0">next</li>
    </ul>
</div>​