<div class="slideshow">
    <ul class="items">
        <li><a href="http://www.drapersonline.com/" rel="nofollow"><img src="../images/slideshow/drapers.png" alt="Drapers Online" /></a></li>
        <li><a href="http://www.gasworld.com/" rel="nofollow"><img src="../images/slideshow/gasworld.png" alt="Gas World" /></a></li>
        <li><a href="http://www.retail-week.com/" rel="nofollow"><img src="../images/slideshow/retailweek.png" alt="Retail Week" /></a></li>
        <li><a href="http://www.insidehousing.co.uk/" rel="nofollow"><img src="../images/slideshow/insidehousing.png" alt="Inside Housing" /></a></li>
        <li><a href="http://www.nma.co.uk/" rel="nofollow"><img src="../images/slideshow/nma.png" alt="New Media Age" /></a></li>
        <li><a href="http://www.tcand.co.uk/" rel="nofollow"><img src="../images/slideshow/tc.png" alt="Thomas Croft Ltd" /></a></li>
    </ul>
    <ul class="thumbs">
        <li class="selected" data-preview="../images/slideshow/drapers.png" tabindex="0">1</li>
        <li data-preview="../images/slideshow/gasworld.png" tabindex="0">2</li>
        <li data-preview="../images/slideshow/retailweek.png" tabindex="0">3</li>
        <li data-preview="../images/slideshow/insidehousing.png" tabindex="0">4</li>
        <li data-preview="../images/slideshow/nma.png" tabindex="0">5</li>
        <li data-preview="../images/slideshow/tc.png" tabindex="0">6</li>
    </ul>
    <ul class="controls">
        <li class="previous" tabindex="0"><i class="icon-chevron-left"></i></li>
        <li class="next" tabindex="0"><i class="icon-chevron-right"></i></li>
    </ul>
</div>​