// CSS TRANSITIONS
transition(prop, duration, timing, delay)
	-webkit-transition prop duration timing delay
	transition prop duration timing delay

// FLOATS CLEARING
clearfix()
	content ''
	display table
	clear both